<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acceleration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="height: absolute">
  <div style="display: flex; justify-content: center; align-items: center; padding-top: 15%;">
    <h1 style="margin: 0; font-size: 68px; ">{{ kmh | number:'1.0-0' }} km/h</h1>
  </div>
  <div style="display: flex; justify-content: center; align-items: center; padding-bottom: 5%; padding-top: 5%;">
    <h1 style="margin: 0; font-size: 48px; ">{{}}</h1>
  </div>

  <div class="button-container" style="padding-bottom: 25px;">
    <ion-item>
      <ion-input type="number" placeholder="Enter Speed" [(ngModel)]="targetSpeed" ></ion-input>
    </ion-item>
    <!-- Buttons to start acceleration timer -->
    <ion-button (click) = "startTracking()">GO!</ion-button>
    <p> {{ timeTaken}}</p>
  </div>
  <div>
    <ion-card>
      <ion-row>
        <ion-col>23</ion-col>
        <ion-col>200</ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>