<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content class="ion-padding">


  <ng-container *ngIf="user; else loggedOut">
    <p>Email: {{ user.email }}</p>

    <ion-label position="floating">Name</ion-label>
    <ion-input [(ngModel)]="userData.name" type="text"></ion-input>

    <ion-label position="floating">Age</ion-label>
    <ion-input [(ngModel)]="userData.age" type="number"></ion-input>

    <ion-label position="floating">Bike Model</ion-label>
    <ion-input [(ngModel)]="userData.bikeModel" type="text"></ion-input>

    <ion-button *ngIf="user" (click)="updateProfile()">Update Profile</ion-button>
    <ion-button expand="block" type="button" (click)="logout()">Log out</ion-button>
   
  </ng-container>

  <!--<form [formGroup]="credentials" (ngSubmit)="login()">

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input  type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input  type="password" placeholder="Password" formControlName="password"></ion-input>
    </ion-item>
  
    <ion-button expand="block" type="submit">Log in</ion-button>

    <div class="welcome-box">
      <p>Not Registered?</p>
      <p>Create an Account!</p>
    </div>-->

    
    <ng-template #loggedOut>

      <div class="welcome-box">
        <h2>Welcome to RideSmart!</h2>
        <p>Please Log In to Continue</p>
      </div>

    <ion-button expand="block" type="button" (click)="showLoginModal()">Log In</ion-button>
    </ng-template>

</ion-content>
  