<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Real-Time Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="height: 700px">
  <div style="display: flex; justify-content: center; align-items: center; height: 200px; ">
    <svg width="400" height="200" >
      <!-- Semi-circle Arc -->
      <path d="M 100,200 A 100,100 0 0,1 300,200"
            fill="none"
            [attr.stroke]="getArrowColor(calculateLeanAngle())"
            stroke-width="10" />

      <!-- Needle -->
      <line x1="200" y1="200" x2="200" y2="100"
            [attr.transform]="'rotate(' + (-calculateLeanAngle()) + ', 200, 200)'"
            [attr.stroke]="getArrowColor(calculateLeanAngle())"
            stroke-width="4" />
          
    </svg>
  </div>


<ion-content style="height: 150px">
  <div style="display: flex; justify-content: center; align-items: center; height: 200px; ">
    <h1 style="margin: 0; font-size: 68px;">{{ kmh | number:'1.0-0' }} km/h</h1>
  </div>
</ion-content>





<ion-content style="height: 100px">
  <div class="button-container">
    <!-- Buttons to start/stop accelerometer and gyroscope -->
    <ion-button (click)="startAccel();startGyro();startTracking1();startMonitoringCrash()">Start</ion-button>
    <ion-button (click)="stopAccel();stopGyro()">Stop</ion-button>
  </div>
</ion-content>






