.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0; /* Adjust margins as needed */
  }
  
  .centered h2,
  .centered p {
    color: white;
    margin: 0; /* Removes default margins */
    padding: 5px; /* Adds a little space around the text */
  }

  ion-button {
    --background: red;
    --background-activated: purple;
    --border-color: white !important;
}