<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Real-Time Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="height: absolute">
  <div style="display: flex; justify-content: center; align-items: center; height: 200px; width: 100%;">
    <svg width="350" height="350" viewBox="50 100 300 100">
      <!-- Semi-circle Arc -->
      <path d="M 100,200 A 100,100 0 0,1 300,200"
            fill="none"
            [attr.stroke]="getArrowColor(calculateLeanAngle())"
            stroke-width="10" />

      <!-- Needle -->
      <line x1="200" y1="200" x2="200" y2="100"
            [attr.transform]="'rotate(' + (-calculateLeanAngle()) + ', 200, 200)'"
            [attr.stroke]="getArrowColor(calculateLeanAngle())"
            stroke-width="4" />
    </svg>
</div>
  <div style="display: flex; justify-content: center; align-items: center; padding-bottom: 25px;">
    <h1 style="margin: 0; font-size: 68px;">{{ kmh | number:'1.0-0' }} km/h</h1>
  </div>

  <div class="button-container" style="padding-bottom: 25px;">
    <!-- Buttons to start/stop accelerometer and gyroscope -->
    <ion-button (click)="startAccel();startGyro();startTracking1();startMonitoringCrash()">Start</ion-button>
    <ion-button (click)="stopAccel();stopGyro()">Stop</ion-button>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="fixed-height-card transparent-card">
          <div class="compass-container">
            <img src="assets/images/compass.png" [style.transform]="'rotate(' + currentHeading + 'deg)'" alt="Compass">
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="fixed-height-card transparent-card">
          <img [src]="getSpeedLimitSign()" alt="Speed Limit Sign">
           <ion-card-content>
             Current Speed Limit: {{ speedLimit }} km/h
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  
</ion-content>






