<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Journey Tracking 
    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Maintenance</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">

  

  <button ion-button full icon-left (click)="startTracking()" *ngIf="!isTracking">
    <ion-icon name="locate"></ion-icon>
    Start Tracking
  </button>

  <div #mapElement style="height: 60%;"></div>

  <button ion-button full icon-left (click)="stopTracking()" *ngIf="isTracking">
    <ion-icon name="hand"></ion-icon>
    Stop Tracking
  </button>

  <div #map id="map"></div>
  <h2>{{kmh | number}}</h2>
  
  <ion-list>
    <ion-list-header>Previous Tracks</ion-list-header>
    <ion-item *ngFor="let route of previousTracks">
      {{ route.finished | date }}, {{ route.path.length }} Waypoints
      <button ion-button clear item-end (click)="showHistoryRoute(route.path)">View Routes</button>
    </ion-item>
  </ion-list>

  

</ion-content>

