<ion-header>
  <ion-toolbar>
    <ion-title>Update Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating">Make</ion-label>
    <ion-input [(ngModel)]="userData.make" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Model</ion-label>
    <ion-input [(ngModel)]="userData.model" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Year</ion-label>
    <ion-input [(ngModel)]="userData.year" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Service Type</ion-label>
    <ion-input [(ngModel)]="userData.part" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Service Done Date</ion-label>
    <ion-input [(ngModel)]="userData.serviceDoneDate" type="text"></ion-input>
  </ion-item>

  <ion-button *ngIf="user" (click)="updateProfile()">Update Profile</ion-button>

</ion-content>